<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork21426264-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# **Data Visualization Lab**

Estimated time needed: **45 to 60** minutes

In this assignment you will be focusing on the visualization of data.

The data set will be presented to you in the form of a RDBMS.

You will have to use SQL queries to extract the data.

## Objectives

In this lab you will perform the following:

*   Visualize the distribution of data.

*   Visualize the relationship between two features.

*   Visualize composition of data.

*   Visualize comparison of data.

<hr>

## Demo: How to work with database

Download database file.

In [ ]:
# !pip install wget

In [ ]:
!wget https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/LargeData/m4_survey_data.sqlite

Connect to the database.

In [ ]:
import sqlite3
conn = sqlite3.connect("m4_survey_data.sqlite") # open a database connection

Import pandas module.

In [ ]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

%matplotlib inline

## Demo: How to run an sql query

In [ ]:
# print how many rows are there in the table named 'master'
QUERY = """
SELECT COUNT(*)
FROM master
"""

# the read_sql_query runs the sql query and returns the data as a dataframe
df = pd.read_sql_query(QUERY,conn)
df.head()

## Demo: How to list all tables

In [ ]:
# print all the tables names in the database
QUERY = """
SELECT name as Table_Name FROM
sqlite_master WHERE
type = 'table'
"""
# the read_sql_query runs the sql query and returns the data as a dataframe
pd.read_sql_query(QUERY,conn)

## Demo: How to run a group by query

In [ ]:
QUERY = """
SELECT Age,COUNT(*) as count
FROM master
group by age
order by age
"""
pd.read_sql_query(QUERY,conn)

## Demo: How to describe a table

In [ ]:
table_name = 'master'  # the table you wish to describe

QUERY = """
SELECT sql FROM sqlite_master
WHERE name= '{}'
""".format(table_name)

df = pd.read_sql_query(QUERY,conn)
print(df.iat[0,0])

# Hands-on Lab

## Visualizing distribution of data

### Histograms

Plot a histogram of `ConvertedComp.`

In [ ]:
# your code goes here
QUERY = """
SELECT ConvertedComp
FROM master
"""
convertedComp = pd.read_sql_query(QUERY,conn)

plt.figure(figsize=(12, 6))
sns.displot(convertedComp, bins=20)
plt.show()

### Box Plots

Plot a box plot of `Age.`

In [ ]:
# your code goes here
QUERY = """
SELECT Age
FROM master
"""
age = pd.read_sql_query(QUERY,conn)

plt.figure(figsize=(3, 8))
sns.boxplot(data=age)
plt.show()

# age.plot(kind='box', figsize=(3,8))

## Visualizing relationships in data

### Scatter Plots

Create a scatter plot of `Age` and `WorkWeekHrs.`

In [ ]:
# your code goes here
QUERY = """
SELECT Age, WorkWeekHrs
FROM master
"""
data = pd.read_sql_query(QUERY,conn)

# plt.figure(figsize=(3, 8))
sns.scatterplot(data=data, x="Age", y="WorkWeekHrs")
plt.show()

# data

### Bubble Plots

Create a bubble plot of `WorkWeekHrs` and `CodeRevHrs`, use `Age` column as bubble size.

In [ ]:
# your code goes here
QUERY = """
SELECT Age, WorkWeekHrs, CodeRevHrs
FROM master
"""
data = pd.read_sql_query(QUERY,conn)

# plt.figure(figsize=(3, 8))
sns.scatterplot(data=data, x="WorkWeekHrs", y="CodeRevHrs", size="Age")
plt.show()

# data

## Visualizing composition of data

### Pie Charts

Create a pie chart of the top 5 databases that respondents wish to learn next year. Label the pie chart with database names. Display percentages of each database on the pie chart.

In [ ]:
# your code goes here
QUERY = """
SELECT DatabaseDesireNextYear, COUNT(*) AS Total
FROM DatabaseDesireNextYear
GROUP BY DatabaseDesireNextYear
ORDER BY Total desc
"""

top5databases = pd.read_sql_query(QUERY,conn)
# top5 = pd.DataFrame(data=top5databases)
# top5.set_index('DatabaseDesireNextYear', inplace=True)
top5databases


top5['Total'].plot(kind='pie',
                            figsize=(5, 6),
                            autopct='%1.1f%%', # add in percentages
                            startangle=90,     # start angle 90Â° (Africa)
                            shadow=True,       # add shadow      
                            )

plt.legend(labels=top5.index, loc='upper right')
plt.title('Immigration to Canada by Continent [1980 - 2013]')
plt.axis('equal') # Sets the pie chart to look like a circle.

plt.show()

In [ ]:
# your code goes here
# Quiz Question
QUERY = """
SELECT LanguageDesireNextYear, COUNT(*) AS Total
FROM LanguageDesireNextYear
GROUP BY LanguageDesireNextYear
ORDER BY Total desc
"""

top5lang = pd.read_sql_query(QUERY,conn)
# top5 = pd.DataFrame(data=top5lang)
# top5.set_index('LanguageDesireNextYear', inplace=True)
top5lang


top5['Total'].plot(kind='pie',
                            figsize=(5, 6),
                            autopct='%1.1f%%', # add in percentages
                            startangle=90,     # start angle 90Â° (Africa)
                            shadow=True,       # add shadow      
                            )

plt.legend(labels=top5.index, loc='upper right')
plt.title('Immigration to Canada by Continent [1980 - 2013]')
plt.axis('equal') # Sets the pie chart to look like a circle.

plt.show()

In [ ]:
QUERY = """
SELECT DevType, COUNT(DevType)
FROM master
GROUP BY DevType
"""
data = pd.read_sql_query(QUERY,conn)
data

### Stacked Charts

Create a stacked chart of median `WorkWeekHrs` and `CodeRevHrs` for the age group 30 to 35.

In [ ]:
# your code goes here
QUERY = """
SELECT WorkWeekHrs, CodeRevHrs
FROM master
WHERE Age BETWEEN 30 AND 35
GROUP BY Age
"""
data = pd.read_sql_query(QUERY,conn)

data.plot(kind='bar', stacked=True, figsize=(10,6))
plt.show()

## Visualizing comparison of data

### Line Chart

Plot the median `ConvertedComp` for all ages from 45 to 60.

In [ ]:
# your code goes here

QUERY = """
SELECT Age, ConvertedComp
FROM master
WHERE Age BETWEEN 45 AND 60
"""

data = pd.read_sql_query(QUERY,conn)
median_data = data.groupby('Age').median()
median_data

sns.lineplot(data=median_data, x="Age", y="ConvertedComp")
plt.show()

### Bar Chart

Create a horizontal bar chart using column `MainBranch.`

In [ ]:
# your code goes here
QUERY = """
SELECT MainBranch, COUNT(MainBranch) AS count
FROM master
GROUP BY MainBranch
"""

data = pd.read_sql_query(QUERY, conn)
mbranch = pd.DataFrame(data=data)
mbranch.set_index('MainBranch', inplace=True)
mbranch

mbranch.plot(kind="barh", figsize=(12,6))
plt.show()

Close the database connection.

In [ ]:
conn.close()

## Authors

Ramesh Sannareddy

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2020-10-17        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |

Copyright Â© 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork21426264-2022-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).